*, :root, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #225763;
  --secondary-color: #41d8bf;
  --third-color: #2f89b3;
  --fourth-color: #3b50b2;
  --text-color: #000;
  --dark-text-color: #fff;
  --background-color: #F6F9FC;
}

body {
  background-color: var(--background-color);
  font-family: 'Padauk', sans-serif;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--dark-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  height: 60px;
}

.navbar h1 {
  font-size: 2rem;
  margin: 0 10px;
}

.navbar h1 a {
  color: var(--dark-text-color);
  text-decoration: none;
}

.navbar .nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar .nav-list .nav-item {
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 12px;
  transition: 0.3s ease all;
}

.navbar .nav-list .nav-item a {
  color: var(--dark-text-color);
  text-decoration: none;
}

.navbar .nav-list .nav-item:hover {
  background-color: var(--secondary-color);
}

.navbar i {
  margin-right: 10px;
  font-size: 2rem;
  display: none;
}

.wave-svg {
  position: absolute;
  top: 40px;
  z-index: -1;
}

.container {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container .index-page {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 70vh;
}

.container .index-page .index-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .index-page .index-text h1 {
  font-size: 3rem;
}

.container .index-page .index-text h1 span {
  color: var(--third-color);
}

.container .index-page .index-text p {
  font-size: 1.5rem;
}

.container .index-page .index-text button {
  border: none;
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.container .index-page .index-text button:hover {
  background-color: var(--third-color);
}

.container .index-page .index-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .index-page .index-img img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.container .index-about {
  position: relative;
  text-align: center;
  height: 300px;
}

.container .index-about p {
  font-size: 1.2rem;
}

.container .index-about svg {
  width: 800px;
  height: 400px;
  position: absolute;
  top: -100px;
  right: 50px;
  z-index: -1;
}

.container .index-offer h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container .index-offer .offer-cards {
  display: flex;
  justify-content: space-around;
}

.container .index-offer .offer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .index-offer .offer-card .offer-img {
  width: 200px;
  height: 200px;
}

.container .index-offer .offer-card .offer-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.container .index-offer .offer-card .offer-title h3 {
  margin-top: 10px;
}

.container .index-start-now {
  margin-top: 80px;
  text-align: center;
}

.container .index-start-now a {
  border: none;
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s ease all;
}

.container .index-start-now a:hover {
  background-color: var(--third-color);
}

.login {
  height: 100vh;
}

.login .login-card {
  height: 75%;
  position: relative;
  top: 10%;
  background-color:  var(--background-color);
  border-radius: 24px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.login .login-card .login-form {
  height: inherit;
  margin: auto;
}

.login .login-card .login-form h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--primary-color);
}

.login .login-card .login-form form {
  display: flex;
  flex-direction: column;
}

.login .login-card .login-form form label {
  font-size: 1.5rem;
  margin: 20px 0;
  color: var(--third-color);
}

.login .login-card .login-form form input {
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--third-color);
  background-color: var(--background-color);
}

.login .login-card .login-form form button {
  margin-top: 10px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease-in all;
}

.login .login-card .login-form form button:hover {
  background-color: var(--fourth-color);
  color: var(--dark-text-color);
}

.login .login-card .login-img {
  height: inherit;
}

.login .login-card .login-img img {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}

.error-msg {
  color: #c23232;
  font-size: 1.2rem;
}

.user-error-msg {
  color: var(--dark-text-color);
  background-color: #c23232;
  font-size: 2.5rem;
  text-align: center;
}

.profile {
  min-height: 100vh;
}

.profile h1, .profile p {
  text-align: center;
  z-index: 3;
}

.profile .information {
  background-color: var(--background-color);
  width: 50%;
  margin: auto;
  margin-top: 50px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.profile .information::after {
  content: '';
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 60%;
  width: 100%;
  height: 100%;
  transform: skew(-40deg);
}

.profile .information h1 {
  font-size: 3rem;
  position: relative;
}

.profile .information p {
  font-size: 1.5rem;
  position: relative;
}

.profile .my-books {
  margin-top: 40px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--background-color);
  border-radius: 12px;
}

.books {
  min-height: 100vh;
}

.books > h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
}

.books-grid {
  margin: 10px 0;
  display: grid;
  gap: 10px;
}

.book-card {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--background-color);
  border-radius: 12px;
  /* max-height: 150px; */
  overflow: hidden;
}

.book-card .book-card-information {
  text-align: center;
}

.book-card .book-card-information h1 {
  font-size: 2.5rem;
  color: var(--fourth-color);
}

.book-card .book-card-information p {
  font-size: 1.3rem;
}

.book-card .book-card-information .book-card-footer {
  margin-top: 10px;
}

.book-card .book-card-information .book-card-footer a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 12px;
  font-size: 1.2rem;
  transition: 0.3s ease all;
}
.book-card .book-card-information .book-card-footer a:hover {
  background-color: var(--fourth-color);
  color: var(--dark-text-color);
}

.book-card .book-card-img {
  transform: skew(-20deg);
  overflow: hidden;
}

.book-card .book-card-img img {
  transform: skew(20deg);
  width: 100%;
  object-fit: cover;
}

.single-book {
  min-height: 100vh;
}

.single-book-card {
  background-color: var(--background-color);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  width: 80%;
  margin: auto;
  margin-top: 50px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;
}

.single-book-card .single-book-text {
  margin-left: 20px;
}

.single-book-card .single-book-text .single-book-title h1 {
  font-size: 3rem;
}

.single-book-card .single-book-text .single-book-description {
  font-size: 1.5rem;
}

.single-book-card .single-book-text .single-book-footer button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--fourth-color);
  color: var(--dark-text-color);
  border: none;
  border-radius: 12px;
  transition: 0.3s ease all;
}

.single-book-card .single-book-text .single-book-footer button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.single-book-card .single-book-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 12px 12px 0;
}

.reserved-message {
  background-color: #217c15;
  text-align: center;
  font-size: 2rem;
  border-radius: 12px;
}

.book-lended-error {
  color: #c23232;
  font-size: 1.5rem;
  margin-top: 20px;
}

.book-error {
  background-color: #c23232;
  color: var(--dark-text-color);
  font-size: 2rem;
  text-align: center;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.footer {
  text-align: center;
  height: 100px;
  background-color: #313131;
  color: var(--dark-text-color);
}

.footer h1 {
  font-size: 4rem;
}

@media (max-width: 1025px) {
  .book-card {
    width: 100%;
  }
}

@media (max-width: 800px) {

  .profile .information {
    width: 100%;
  }

  .book-card {
    width: 100%;
  }

  .single-book-card {
    width: 100%;
  }
}

@media (max-width: 500px) {

  .navbar .nav-list {
    position: absolute;
    display: block;
    top: 60px;
    background-color: var(--primary-color);
    height: calc(100vh - 60px);
    width: 50%;
    z-index: 10;
    transform: translateX(-200%);
    transition: 0.3s ease all;
  }

  .navbar i {
    display: block;
  }

  .navbar .nav-list .nav-item a {
    font-size: 1.5rem;
  }

  .navbar .nav-list.active {
    transform: translateX(0);
  }

  .container {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .container .index-page {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 1fr;
  }

  .container .index-page .index-text {
    grid-row: 2 / 3;
    text-align: center;
  }

  .container .index-page .index-img {
    grid-row: 3 / 4;
  }

  .container .index-about {
    overflow: hidden;
  }

  .container .index-about svg {
    top: -20px;
    right: -200px;
  }

  .index-offer .offer-cards {
    flex-direction: column;
  }

  .login .login-card {
    grid-template-columns: 1fr;
    height: auto;
    overflow: visible;
  }

  .login-card .login-img {
    display: none;
  }

  .profile .information {
    width: 100%;
  }

  .book-card {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .single-book-card {
    width: 100%;
    grid-template-columns: 1fr;
  }
  
  .reserved-message {
    font-size: 1.2rem;
  }

  .book-error {
    font-size: 1.2rem;
  }

  .footer h1 {
    font-size: 1.5rem;
  }
}